body {
    background-color: rgb(23, 60, 116);
    background-size: cover;
}

#heady {
    background-color: rgb(20, 205, 4);
    border: 1px solid black;
    box-shadow: 5px 10px 5px rgb(68, 79, 89);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

h1 {
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 30px;
}

#cgnumber {
    font-size: 30px;
    padding: 5px;
}

#compnumber {
    background-color: rgb(242, 115, 115);
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 5px 10px 5px rgb(68, 79, 89);
    border-radius: 5px;
}

.scoreboard {
    background-color: deepskyblue;
    font-size: 20px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 10px 5px rgb(68, 79, 89);
    border-radius: 5px;
}

#wins, #losses {
    padding: 5px;
}

#uzerscore {
    background-color: rgb(254, 238, 115);
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 10px 5px rgb(68, 79, 89);
    border-radius: 5px;
}

#userscore {
    font-size: 20px;
    padding: 5px;
    
}

#crystal-1, #crystal-2, #crystal-3, #crystal-4 {
    border: 1px solid black;
    box-shadow: 5px 10px 5px rgb(68, 79, 89);
}

h3 {
    font-size: 20px;
}

#crystal-imgs {
    margin: 10px;
}

#crystal-1, #crystal-2, #crystal-3, #crystal-4 {
    background-color: lightgrey;
}

.scorebrd {
    padding-left: 0px;
}

.allImgs {
    padding-right: 0px;
}

.container {
    background-color: slategray;
    border-radius: 5px;
    box-shadow: 5px 10px 5px rgb(18, 48, 92);
    padding-bottom: 40px;
}

#roach {
    position: absolute;
    top: 0;
    right: 0;
}